
<div class="cc-main-wrap">
	<div class="title"><h1>{{title}}</h1></div>
	<div class="form">
		<input class="input" type="text" name="num" placeholder="请输入待转换货币金额" value="" (input)="onInputEvent($event)" />
	</div>
	<div class="panel panel-primary">
		<h3>中文大写写法：</h3>
		{{zh_cheque}}
	</div>
	<div class="panel panel-primary">
		<h3>中文大寫寫法：</h3>
		{{tw_cheque}}
	</div>
	<div class="panel panel-primary">
		<h3>英文大写写法：</h3>
		{{en_cheque}}
	</div>
	<div class="panel panel-tips">
		支票小知识：<br>
		如须使用支票，必须到银行开设一个往来帐户(Current Account)。<br>
		支票通常可以用中、英文两种语言之一填写。而若用中文，必须使用繁体中文。<br>
		支票金额中「正」亦可写为「整」字也可以，不能写为「零角零分」。<br>
		如以英文填写付款的金额，百位和后面的数字之间可以加「And」，也可以不加，但必须在最后加上「Only」。<br>
		不划线支票：任何持票人均可即时提取现金。<br>
		左上角划两条斜线：需存入收款人户口。<br>
		划去「持票人」：只有支票抬头写上的人仕才可兑现支票。
	</div>
</div>


